.gallery-navbar.navbar-default{
    border-bottom: 1px solid rgba(17, 17, 17, 0.103);
    border-image: none;
}
.gallery-menu{
    display: flex;
    padding: 10px;
    .nav-item{
        padding: 10px;
        transition: 0.3s;
    }
    a.nav-link-active{
       font-size: 17px;
       color: black;
    }
}
