.slick-slider {
  height: 500px;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}
.slide-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .slide-layer {
    padding: 30px;
    background: #00000045;
    filter: drop-shadow(2px 4px 6px #00000045);
    -webkit-box-shadow: 0px 0px 19px 14px rgb(1 2 2 / 20%);
    box-shadow: 0px 0px 19px 14px #00000045;
    width: 100%;
    margin-top: 50px;
    color: white;
  }
}
.slide-text {
  font-size: 25px;
  line-height: 65px;
  font-weight: 600;
  font-family: 'Playfair Display';
  letter-spacing: 2px;
}
.slide-layer.no-filter {
  background: #0000001e;
  filter: drop-shadow(2px 4px 6px #0000001e);
  -webkit-box-shadow: 0px 0px 19px 14px rgb(1 2 2 / 20%);
  box-shadow: 0px 0px 19px 14px #0000001e;
}
@mixin slider-bg {
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slide1 {
  background-image: url('./assets/1.jpg');
  @include slider-bg;
}
#slide2 {
  background-image: url('./assets/2.jpg');
  @include slider-bg;
}
#slide3 {
  background-image: url('./assets/3.jpg');
  @include slider-bg;
}
